@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);

/* backgrounds-elements */

@import url(../blocks/backgrounds-elements/backgrounds-elements.css);

@import url(../blocks/backgrounds-elements/__ellipsis-grey/backgrounds-elements__ellipsis-grey.css);
@import url(../blocks/backgrounds-elements/__ellipsis-grey/_type/backgrounds-elements__ellipsis-grey_type_top.css);
@import url(../blocks/backgrounds-elements/__ellipsis-grey/_type/backgrounds-elements__ellipsis-grey_type_bottom.css);

@import url(../blocks/backgrounds-elements/__ellipsis-red/backgrounds-elements__ellipsis-red.css);
@import url(../blocks/backgrounds-elements/__ellipsis-red/_type/backgrounds-elements__ellipsis-red_type_big.css);
@import url(../blocks/backgrounds-elements/__ellipsis-red/_type/backgrounds-elements__ellipsis-red_type_small.css);

@import url(../blocks/backgrounds-elements/__ellipsis-white/backgrounds-elements__ellipsis-white.css);
@import url(../blocks/backgrounds-elements/__ellipsis-white/_type/backgrounds-elements__ellipsis-white_type_bottom.css);
@import url(../blocks/backgrounds-elements/__ellipsis-white/_type/backgrounds-elements__ellipsis-white_type_top.css);

/* header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__title/header__title.css);

/* main */

@import url(../blocks/main/main.css);
@import url(../blocks/main/__header/main__header.css);
@import url(../blocks/main/__content/main__content.css);
@import url(../blocks/main/__footer/main__footer.css);
@import url(../blocks/main/__navigation/main__navigation.css);
@import url(../blocks/main/__link/main__link.css);

@import url(../blocks/main/__logo/main__logo.css);
@import url(../blocks/main/__logo/_type/main__logo_riot-games.css);
@import url(../blocks/main/__logo/_type/main__logo_v.css);

@import url(../blocks/main/__user/main__user.css);
@import url(../blocks/main/__user/__avatar/user__avatar.css);
@import url(../blocks/main/__user/__nickname/user__nickname.css);